.switch-field {
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	padding: 2px;
	margin-left: 20px;
	overflow: hidden;
}

.switch-title {
	margin-bottom: 6px;
	text-align: left;
  color: #ababab;
}

.switch-field input {
    position: absolute !important;
    clip: rect( 0, 0, 0, 0 );
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba( 0, 0, 0, 0.6 );
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba( 0, 0, 0, 0.2 );
  box-shadow: inset 0 1px 3px rgba( 0, 0, 0, 0.3 ), 0 1px rgba( 255, 255, 255, 0.1 );
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #aa0b5b;
  box-shadow: none;
  color: #fff;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#myConsoleLog{
	position: absolute;
	top:440px;
	left: 520px;
	overflow-y: scroll; 
	height: 400px;
	font-family: "Monospace", sans-serif;
	font-size: 12px;
  opacity: 1;
}

.myConsoleLogHide{
  opacity: 0;
  z-index: -100;
}