@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapperMain {
	position: absolute;
	top: 0px;
	display: flex;
	width: 1000px;
	height: 110px;
	margin: -100px auto;
	left: 0;
	right: 0;	
	background: rgba( 65, 12, 51, 0.8 );
	border-radius: 18px;
	padding: 0;
	transition: margin .5s;
	-ms-touch-action: none;
   	touch-action: none;
   	-webkit-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
   	z-index: 5;
   	cursor: pointer;
}

.wrapperCamera {
	position: absolute;
	top: 0px;
	display: flex;
	width: 900px;
	height: 110px;
	margin: -170px auto;
	left: 0;
	right: 0;
	background: rgba( 65, 12, 51, 0.8 );
	border-radius: 18px;
	padding: 0;
	transition: margin .5s;
	-ms-touch-action: none;
   	touch-action: none;
   	-webkit-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
   	z-index: 5;
}

.icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin: 15px;
	border-radius: 50%;
	transition: transform .4s;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	color: #fff;
}

.phone {
	background: rgba(255, 255, 255, 0.3);
}

.mail {
	background: rgba(55, 55, 225, 0.3);
}

#camera {
	background: rgba(55, 55, 225, 0.3);
}

.settings{
	background-color: #a542fd;
}